*{
    margin: 0;
}

body{
    background: url("./imagenes/fondo.jpg") no-repeat center center/ cover;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reloj-container{
    background: url("./imagenes/reloj.png") no-repeat center center/ cover;
    width: 500px;
    height: 500px;

    color: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.numeros{
    font-size: 5rem;
    margin-bottom: 30px;
}

button{
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;

    font-weight: 1000;
    color: white;
}

.reiniciar{
    background-color: rgb(142, 22, 22);
}

.inactivo{
    background-color: rgb(33, 171, 33);
}

.activo{
    background-color: orange;
}